<div *ngIf="!sprint">spinner</div>
<div *ngIf="sprint">
    <h2>Sprint Panel</h2>
    <h3>{{sprint.title}}</h3>
    <p >Sprint inizializzato</p>
    <ul>
        <li *ngFor='let story of sprint.userStories'>
            {{story.title}} - {{story.description}} &nbsp; 
            <button (click)="removeStory(story)">DEL</button>
        </li>
    </ul>
</div> 
<hr>

<!-- Utilizzando l'event emitter -->
<!-- <app-add-user-story (sendUserStory)="addUserStory($event)"></app-add-user-story> -->

<app-add-user-story (sendUserStory)="addUserStory($event)"></app-add-user-story>